    <!-- Topic Modal -->
    <div class="modal" id="topicModal">
      <div class="modal-content">
        <div class="modal-header">
          <h3 id="modalTitle"></h3>
          <button type="button" class="modal-close" id="modalClose">&times;</button>
        </div>
        <div class="modal-body">
          <div class="topic-theory">
            <h4>Theory</h4>
            <div id="modalTheory"></div>
          </div>
          <div class="topic-problems">
            <h4>Sample Problems</h4>
            <ul id="modalProblems"></ul>
          </div>
          <div class="topic-difficulty">
            <h4>Difficulty Level</h4>
            <div id="modalDifficulty"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="startPracticeBtn">
            Start Practicing
          </button>
        </div>
      </div>
    </div>
